body {
  font-family: sans-serif;
}

.productsList {
  text-align: center;
}

.productsTable {
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid black;
  align-items: center;
  height: 3rem;
  margin: 5px;
}

tr {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

td {
  padding: 5px;
}
